
            .box {
                display:grid;
                grid-template-columns: 1fr 1fr;
                margin-right: 5px;
                margin-top: 10px;
                width: 40%;
                height: 10%;
                float: right;
            }

            .landImg {
                width: 100%;
                padding: 10px;
            }
        @media only screen and (min-width: 200px) {
            main{
                position: absolute;
                margin-top: 50%;
    
            }
            #title{
                text-align: center;
                margin:35px 30px 5px;
                font-size: 30px;
            }
            #subtitle{
                text-align:center;
                color: rgb(95, 57, 57);
                font-weight: bold;
                font-size: 26px;
           
            }
            #word_kind{
                text-align:justify;
                margin: 10px 30px 10px;
                font-size: 23px;
                background-image:url('../photo/wheat.png') ;
                background-repeat: no-repeat;
                background-attachment:local;
                background-position:center;
                background-position-y: 16em;
                background-size: 20em;
                word-wrap:break-word;
                text-indent: 56px;
            }
            #subtitle_zone{
                color: rgb(128,0,0);
                font-weight: bold;
                font-size: 23px;
                margin: 10px 30px 10px;
            }
    
            #word_zone{
                text-align:justify;
                margin: 10px 30px 0px;
                font-size: 23px;
                word-wrap:break-word;
                text-indent: 55px;
            }
            .box {
                display:block;
                grid-template-columns: 1fr 1fr;
                margin-right: 10%;
                margin-left: 50%;
                margin-top:100px;
                width: 80%;
            }
        }

            @media only screen and (min-width: 768px) {
                main{
                    position: absolute;
                    margin-top: 36%;
        
                }
                #title{
                    text-align: center;
                    margin:20px 30px 5px;
                }
                #subtitle{
                    text-align:center;
                    color: rgb(95, 57, 57);
                    font-weight: bold;
               
                }
                #word_kind{
                    text-align:justify;
                    margin: 10px 130px 10px 110px;
                    font-size: 22px;
                    background-image:url('../photo/wheat.png') ;
                    background-repeat: no-repeat;
                    background-attachment:local;
                    background-position:center;
                    background-position-y: 0.1em;
                    background-size: 24em;
                    word-wrap:break-word;
                }
                #subtitle_zone{
                    color: rgb(128,0,0);
                    font-weight: bold;
                    font-size: 22px;
                    margin: 10px 130px 10px 110px;
                }
        
                #word_zone{
                    text-align:justify;
                    margin: 10px 130px 40px 110px;
                    font-size: 22px;
                    word-wrap:break-word;
                    text-indent: 38px;
                }

                
            }
            
            @media only screen and (min-width: 992px) {
                main{
                    position: absolute;
                    margin-top: 36%;
        
                }
                #title{
                    text-align: center;
                    margin:20px 30px 5px;
                }
                #subtitle{
                    text-align:center;
                    color: rgb(95, 57, 57);
                    font-weight: bold;
               
                }
                #word_kind{
                    text-align:justify;
                    margin: 10px 130px 10px 110px;
                    font-size: 22px;
                    background-image:url('../photo/wheat.png') ;
                    background-repeat: no-repeat;
                    background-attachment:local;
                    background-position:center;
                    background-position-y: 0.1em;
                    background-size: 24em;
                    word-wrap:break-word;
                }
                #subtitle_zone{
                    color: rgb(128,0,0);
                    font-weight: bold;
                    font-size: 22px;
                    margin: 10px 130px 10px 110px;
                }
        
                #word_zone{
                    text-align:justify;
                    margin: 10px 130px 40px 110px;
                    font-size: 22px;
                    word-wrap:break-word;
                    text-indent: 38px;
                }
                
            .box {
                display:grid;
                grid-template-columns: 1fr 1fr;
                margin-right: -180px;
                margin-left: 0px;
                margin-top: 17px;
                width: 60%;
                height: 100%;
                float: right;
            }
            }
            
            
            @media only screen and (min-width: 1000px) {
                main{
                    position: absolute;
                    margin-top: 36%;
        
                }
                #title{
                    text-align: center;
                    margin:20px 30px 5px;
                }
                #subtitle{
                    text-align:center;
                    color: rgb(95, 57, 57);
                    font-weight: bold;
               
                }
                #word_kind{
                    text-align:justify;
                    margin: 10px 250px 10px 250px;
                    font-size: 22px;
                    background-image:url('../photo/wheat.png') ;
                    background-repeat: no-repeat;
                    background-attachment:local;
                    background-position:center;
                    background-position-y: 0.1em;
                    background-size: 24em;
                    word-wrap:break-word;
                }
                #subtitle_zone{
                    color: rgb(128,0,0);
                    font-weight: bold;
                    font-size: 22px;
                    margin: 10px 130px 10px 320px;
                }
        
                #word_zone{
                    text-align:justify;
                    margin: 10px 130px 40px 320px;
                    font-size: 22px;
                    word-wrap:break-word;
                    text-indent: 44px;
                }
                
            .box {
                display:grid;
                grid-template-columns: 1fr 1fr;
                margin-right: 5px;
                margin-top: 10px;
                width: 40%;
                height: 10%;
                float: right;
            }
            }


            @media only screen and (min-width: 1550px) {
                main{
                    position: absolute;
                    margin-top: 36%;
        
                }
                #title{
                    text-align: center;
                    margin:20px 30px 5px;
                    font-size: 33px;
                }
                #subtitle{
                    text-align:center;
                    color: rgb(95, 57, 57);
                    font-weight: bold;
                    font-size: 30px;
               
                }
                #word_kind{
                    text-align:justify;
                    margin: 5px 300px 5px 300px; 
                    font-size: 28px;
                    background-image:url('../photo/wheat.png') ;
                    background-repeat: no-repeat;
                    background-attachment:local;
                    background-position:center;
                    background-position-y: 20;
                    background-size: 24em;
                    word-wrap:break-word;
                }
                #subtitle_zone{
                    color: rgb(128,0,0);
                    font-weight: bold;
                    font-size: 28px;
                    margin: 5px 150px 5px 290px;
                }
        
                #word_zone{
                    text-align:justify;
                    margin: 10px 140px 40px 320px;
                    font-size: 28px;
                    word-wrap:break-word;
                    text-indent: 56px;
                }

            .box {
                display:grid;
                grid-template-columns: 1fr 1fr;
                margin-right: 20px;
                margin-top: 10px;
                width: 30%;
                height: 8%;
                float: right;
            }

            }




