/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px)  {
  footer {
      width:100%;
      background: black;		
      z-index: 1;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-top: solid 0.1em black;
      border-bottom:  solid 0.1em black;
      white-space: nowrap;
      position: fixed;
      bottom: 0px;
      left: 0px;
    }	 

  .err {
      color: #DDD;
      letter-spacing: 5px;
      display: flex;
      font-size: 1em;
    }

  .icon1{
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    margin-left:5px;
    margin-right:5px;
    font-size: 1.2em;
    height: 1.4em;
    display: flex;
  }
}


@media only screen and (min-width: 600px) {
  footer {
      width:100%;
      background: black;		
      z-index: 1;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-top: solid 0.1em black;
      border-bottom:  solid 0.1em black;
      white-space: nowrap;
      position: fixed;
      bottom: 0px;
      left: 0px;
    }	 

  .err {
      color: #DDD;
      letter-spacing: 5px;
      display: flex;
      font-size: 1em;
    }

  .icon1{
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    margin-left:5px;
    margin-right:5px;
    font-size: 100%;
    width: 1.4em;
    display: flex;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  footer {
      width:100%;
      background: black;		
      z-index: 1;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-top: solid 0.1em black;
      border-bottom:  solid 0.1em black;
      white-space: nowrap;
      position: fixed;
      bottom: 0px;
      left: 0px;
    }	 

  .err {
      color: #DDD;
      letter-spacing: 5px;
      display: flex;
      font-size: 1em;
    }

  .icon1{
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    margin-left:5px;
    margin-right:5px;
    font-size: 100%;
    width: 1.4em;
    display: flex;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  footer {
      width:100%;
      background: black;		
      z-index: 1;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-top: solid 0.1em black;
      border-bottom:  solid 0.1em black;
      white-space: nowrap;
      position: fixed;
      bottom: 0px;
      left: 0px;
    }	 

  .err {
      color: #DDD;
      letter-spacing: 5px;
      display: flex;
      font-size: 1em;
    }

  .icon1{
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    margin-left:5px;
    margin-right:5px;
    font-size: 100%;
    width: 1.4em;
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px)and(max-width: 1200px) {
  footer {
      width:100%;
      background: black;		
      z-index: 1;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-top: solid 0.1em black;
      border-bottom:  solid 0.1em black;
      white-space: nowrap;
      position: fixed;
      bottom: 0px;
      left: 0px;
    }	 

  .err {
      color: #DDD;
      letter-spacing: 5px;
      display: flex;
      font-size: 1em;
    }

  .icon1{
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    margin-left:5px;
    margin-right:5px;
    font-size: 100%;
    width: 1.4em;
    display: flex;
  }
}