#mapSearchBox {
    margin-right: 5%;
    width: 100%;
    top: 10px;
    margin-bottom: 30px;
    position: absolute;
    top:120px;
    display:inline-block;    
    z-index: 0;
    background-color: rgb(247, 247, 247);
}
#map{
    display:block;     
    margin:0 auto;
}






@media only screen and (min-width: 200px)  {
    #island1{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 48%;
        top: 13%;
    }
    #island2{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:23px;
       opacity: 0;
        margin-left: 26%;
        top: 52%;
    }
    #islay{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 29%;
        top: 76.5%;
    }
    #camp{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 26%;
        top: 87%;
    }
    #spey{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 52%;
        top: 46%;
    }
    #highland{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 43%;
        top: 55%;
    }
    #lowland{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 47%;
        top: 79.5%;
    }
    
    }
  
  
  @media only screen and (min-width: 200px)  {
    #island1{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 48%;
        top: 13%;
    }
    #island2{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:23px;
       opacity: 0;
        margin-left: 26%;
        top: 52%;
    }
    #islay{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 29%;
        top: 76.5%;
    }
    #camp{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 26%;
        top: 87%;
    }
    #spey{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 52%;
        top: 46%;
    }
    #highland{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 43%;
        top: 55%;
    }
    #lowland{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 47%;
        top: 79.5%;
    }
    }
  
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px)  {
    #island1{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 48%;
        top: 13%;
    }
    #island2{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:23px;
       opacity: 0;
        margin-left: 26.5%;
        top: 52%;
    }
    #islay{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 31%;
        top: 76.5%;
    }
    #camp{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:20px;
       opacity: 0;
        margin-left: 32.5%;
        top: 87%;
    }
        #spey{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:25px;
       opacity: 0;
        margin-left: 55%;
        top: 46%;
    }
    #highland{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:24px;
       opacity: 0;
        margin-left: 49%;
        top: 55%;
    }
    #lowland{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:left;
        z-index: 2;
        position: absolute;
        font-size:22px;
       opacity: 0;
        margin-left: 51.5%;
        top: 79.5%;
    }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        #island1{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 48%;
            top: 13%;
        }
        #island2{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:23px;
           opacity: 0;
            margin-left: 32%;
            top: 52%;
        }
        #islay{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 32%;
            top: 76.5%;
        }
        #camp{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 31.3%;
            top: 87%;
        }
        #spey{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 52%;
            top: 46%;
        }
        #highland{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 46%;
            top: 55%;
        }
        #lowland{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 47%;
            top: 79.5%;
        }
      }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        #island1{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 49%;
            top: 13%;
        }
        #island2{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:24px;
           opacity: 0;
            margin-left: 36%;
            top: 52%;
        }
        #islay{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 36.5%;
            top: 76.5%;
        }
        #camp{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 35%;
            top: 87%;
        }
        #spey{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 51%;
            top: 46%;
        }
        #highland{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 47%;
            top: 55%;
        }
        #lowland{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 48%;
            top: 79.5%;
        }
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1000px) {
        #island1{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 49%;
            top: 13%;
        }
        #island2{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:23px;
           opacity: 0;
            margin-left: 39%;
            top: 52%;
        }
        #islay{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 38.5%;
            top: 76.5%;
        }
        #camp{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 38%;
            top: 87%;
        }
        #spey{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 51%;
            top: 46%;
        }
        #highland{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 48%;
            top: 55%;
        }
        #lowland{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 48.5%;
            top: 79.5%;
        }
    }



    @media only screen and (min-width: 1550px) {
        #island1{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 47%;
            top: 13.5%;
        }
        #island2{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:23px;
           opacity: 0;
           margin-left: 41%;
            top: 52%;
        }
        #islay{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
           margin-left: 41.5%;
            top: 76.5%;
        }
        #camp{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
           margin-left: 41.5%;
            top: 87.8%;
        }
        #spey{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 51%;
            top: 46%;
        }
        #highland{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 48.2%;
            top: 55.5%;
        }
        #lowland{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:left;
            z-index: 2;
            position: absolute;
            font-size:25px;
           opacity: 0;
            margin-left: 48.5%;
            top: 79.6%;
        }
    }






div {
    display: block;
}

body {
    margin: 0;
    font-family: Georgia, Times, "華文宋體", STSong, "宋體", SimSun , "新細明體", PMingLiu , "細明體", MingLiu, sans-serif;
    line-height: 1.5;
    
    color: #404040;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
