#mapSearchBox {
    margin-right: 5%;
    width: 100%;
    top: 10px;
    margin-bottom: 30px;
    position: absolute;
    top:120px;
    display:inline-block;    
    z-index: 0;
    background-color: rgb(247, 247, 247);
}
#map{
    display:block;     
    margin:0 auto;
}
#canada{
    text-decoration-line: none;
    color:black;
    display:block;     
    text-align:center;
    top: 11%;
    left: 48vw;
    z-index: 2;
    position: absolute;
    font-size:25px;
    opacity: 0;
}
#usa{
    text-decoration-line: none;
    color:black;
    display:block;     
    text-align:center;
    top: 24%;
    left: 48vw;
    z-index: 2;
    position: absolute;
    font-size:25px;
    opacity: 0;
}
#chile{
    text-decoration-line: none;
    color:black;
    display:block;     
    text-align:center;
    top: 58%;
    left: 49vw;
    z-index: 2;
    position: absolute;
    font-size:25px;
    opacity: 0;
}
#argen{
    text-decoration-line: none;
    color:black;
    display:block;     
    text-align:center;
    top: 66%;
    left: 53vw;
    z-index: 2;
    position: absolute;
    font-size:25px;
    opacity: 0;
}


@media only screen and (max-width: 200px)  {
    #aus{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:center;
        top: 71%;
        margin-left: 30%;
        z-index: 2;
        position: absolute;
        font-size:25px;
        opacity: 0;
    }
    #newzea{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:center;
        top: 88%;
        margin-left: 45%;
        z-index: 2;
        position: absolute;
        font-size:25px;
        opacity: 0;
    }
    }
  
  
  @media only screen and (min-width: 200px)  {
    #aus{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:center;
        top: 71%;
        margin-left: 30%;
        z-index: 2;
        position: absolute;
        font-size:25px;
        opacity: 0;
    }
    #newzea{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:center;
        top: 88%;
        margin-left: 45%;
        z-index: 2;
        position: absolute;
        font-size:25px;
        opacity: 0;
    }
    }
  
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px)  {
    #aus{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:center;
        top: 71%;
        margin-left: 30%;
        z-index: 2;
        position: absolute;
        font-size:25px;
        opacity: 0;
    }
    #newzea{
        text-decoration-line: none;
        color:black;
        display:block;     
        text-align:center;
        top: 88%;
        margin-left: 45%;
        z-index: 2;
        position: absolute;
        font-size:25px;
        opacity: 0;
    }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        #aus{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 71%;
            margin-left: 37%;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
        #newzea{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 88%;
            margin-left: 46%;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
    }
      
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        #aus{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 71%;
            margin-left: 40%;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
        #newzea{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 88%;
            margin-left: 47%;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1000px) {
        #aus{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 71%;
            margin-left: 42%;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
        #newzea{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 88%;
            margin-left: 47%;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
    }
    @media only screen and (min-width: 1550px) {
        #canada{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 11%;
            left: 48vw;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
        #usa{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 24%;
            left: 48vw;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
        #chile{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 58%;
            left: 49vw;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
        #argen{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 66.2%;
            left: 49.8vw;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
        #aus{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 71%;
            margin-left: 42.5%;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
        #newzea{
            text-decoration-line: none;
            color:black;
            display:block;     
            text-align:center;
            top: 88%;
            margin-left: 46.5%;
            z-index: 2;
            position: absolute;
            font-size:25px;
            opacity: 0;
        }
    }





div {
    display: block;
}

body {
    margin: 0;
    font-family: Georgia, Times, "華文宋體", STSong, "宋體", SimSun , "新細明體", PMingLiu , "細明體", MingLiu, sans-serif;
    line-height: 1.5;
    
    color: #404040;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}